@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Development Testing  </h1>
</div>

<div class="row">
    <div>
        <h2>Test Requirements</h2>
        <p>
            This test application is very small and simple. There are no tricks to it, Simply demonstrate that you can write an ASP.NET MVC application that shows a master detail relationship, between Classes in a school and the Student in those classes. And that these details can be stored and retrieved from a data-store.
        </p>
        <p>
            Note before starting this test we would like you to add a file to your git repository folder (folio1-app-test) this will give us an understanding of the time taken to complete this test.
        </p>
        <p>
            Further notes
            1.Should be able to load your solution file and run the app with minimal configuration. Think about how you need to deploy your datastore, scrips etc <br>
            2.Think about how you will update the students grid on a class selection, should this be AJAX'y<br>
            3.Preference is VS2012 or VS2013 and MVC 5.0<br>
            4.Feel free to use either a RDBMS (SQL Server or My SQl ect) or NoSQL database (Raven, Azure Table Services, MongoDb, Cassandra etc)<br>
            5.Feel free to use Java Script libraries like jQuery or Knockout etc if you want to.<br>
            6.I know this app is tiny, but I expect you to properly layer your app, I do not want to see business logic in the controller.<br>
        </p>
    </div>
</div>